<div role="tabpanel" aria-labelledby="undefined-tab-0" id="undefined-tabpanel-0" content="[object Object]" class="css-0">
  <div class="MuiGrid-root MuiGrid-container css-1d3bbye" style="display: flex; margin-top: 20px; justify-content: center;">
    <div *ngFor="let post of posts" class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-6 MuiGrid-grid-md-3 MuiGrid-grid-lg-1.5 css-h72y0n" style="display: flex; justify-content: center; align-items: center;">
      <div class="MuiPaper-root MuiPaper-elevation MuiPaper-rounded MuiPaper-elevation1 MuiCard-root css-nmqra9"
        style="border: medium none; width: 150px; margin: 10px; background-color: rgb(24, 39, 58); color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;">
        <button [routerLink]="['../postDetail', post._id]" class="MuiButtonBase-root MuiCardActionArea-root css-1jluznr" tabindex="0" type="button">
          <div class="MuiCardMedia-root css-pqdqbj"><span
              class=" lazy-load-image-background blur lazy-load-image-loaded"
              style="color: transparent; display: inline-block;"><img alt="wall"
                src="{{post.url}}"
                style="object-fit: cover;" width="160" height="214"></span></div>
          <div class="MuiCardContent-root css-1qw96cp"
            style="padding: 15px 5px 15px 10px; display: flex; justify-content: space-between; align-items: center;">
            <p class="MuiTypography-root MuiTypography-body2 css-1xroguk">{{ post.displayName }}</p>
          </div><span class="MuiCardActionArea-focusHighlight css-jo3ec3"></span><span
            class="MuiTouchRipple-root css-w0pj6f"></span>
        </button></div>
    </div>
  </div>
</div>
