.card {
  width: 320px;
  height: 600px;
  margin-left: 200px;
  margin-top: 80px;
}

.form-card {
  width: 600px;
}


.css-wxn8yu {
  font-weight: normal;
  font-family: Inter;
  margin: 10px;
  width: 120px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.css-16fqioh {
  font-family: Inter;
  font-weight: 400;
  line-height: 1.5;
  margin: 10px;
  width: 120px;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

#image {
  width: 10%;
  margin-top: -10%;
  padding-left: 2%;
  padding-right: 2%;
  /* background-color: gray; */
}

/* .css-vubbuv {
  display: inline-block;
  flex-shrink: 0;
  font-size: 1.5rem;
  margin-left: 500px;
} */

label {
  width: 290px;
  display: inline-block;
}

.deleteImg {
  margin-left: 100px;
}

.css-8k9cwf {
  margin: 0px 20px 20px;
}

.css-rfnosa {
  box-sizing: border-box;
  flex-direction: row;
}

.css-eux48v {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  font-size: 1.5rem;
  padding: 8px;
  border-radius: 50%;
  overflow: visible;
  color: rgba(0, 0, 0, 0.54);
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-vubbuv {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
}

.css-w0pj6f {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  inset: 0px;
  border-radius: inherit;
}

.css-1d3bbye {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

/* @media (min-width: 1200px) */
.css-8pdr4s {
    flex-basis: 50%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
}

/* @media (min-width: 900px) */
.css-8pdr4s {
  flex-basis: 50%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 50%;
}

.css-8pdr4s {
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
}

.css-nmqra9 {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow: hidden;
  background: rgb(254, 254, 255);
  border: 1px solid rgb(232, 235, 239);
  box-sizing: border-box;
  box-shadow: rgb(28 48 74 / 8%) 0px 1px 18px -1px;
  border-radius: 8px;
}

.css-1jluznr {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  border-radius: 0px;
  padding: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  color: inherit;
  display: block;
  text-align: inherit;
  width: 100%;
}

.css-rhsghg {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  object-fit: cover;
}

.css-1qw96cp {
  padding: 16px;
}

.css-16gzibi {
  margin: 0px;
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.css-jo3ec3 {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  inset: 0px;
  border-radius: inherit;
  opacity: 0;
  background-color: currentcolor;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

form {
  display: block;
  margin-top: 0em;
}

.css-5q3ooc.MuiButton-sizeMedium {
  height: 40.5px;
  font-size: 0.938rem;
}

.css-5q3ooc {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-transform: none;
  font-family: Inter;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  color: rgb(7, 115, 242);
  box-shadow: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-kgp0ar {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  vertical-align: top;
}

.css-kgp0ar .MuiOutlinedInput-root {
  color: rgb(255, 255, 255) !important;
}

.css-1rvehi0 {
  font-family: Inter;
  font-weight: 400;
  line-height: 1.4375em;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 14px;
  position: relative;
  border-radius: 4px;
}

.css-kgp0ar .MuiInputBase-input {
  padding: 7px 10px;
  height: 22px;
}

.css-13ny0hi {
  font: inherit;
  letter-spacing: inherit;
  color: currentcolor;
  border: 1px solid #fff;
  border-radius: 7px;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0px;
  width: 100%;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  padding: 16.5px 14px;
}

.css-kgp0ar .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border-color: rgb(232, 235, 239);
}

.css-igs3ac {
  text-align: left;
  position: absolute;
  inset: -5px 0px 0px;
  margin: 0px;
  padding: 0px 8px;
  pointer-events: none;
  border-radius: inherit;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  min-width: 0%;
  border-color: rgba(0, 0, 0, 0.23);
}

.css-hdw1oc {
  float: unset;
  overflow: hidden;
  padding: 0px;
  line-height: 11px;
  transition: width 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

legend {
  display: block;
  padding-inline-start: 2px;
  padding-inline-end: 2px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}
